@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 20px;
}

.logo {
    width: 150px; 
    height: auto; 
    margin-top: 10px; 
    margin-left: 30px
}

.new {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: none;
    width: 100px;
    height: 50px;
    margin: 20px 20px 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative; 
}

.new span, .menu span{
    vertical-align: middle; 
}

.menu a {
    display: block;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    color: #A4A4A4;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    font-weight: 600;
}

.menu a[href="dashboard.php"] {
    background-color: #3A78F1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.menu a[href="logout.php"] {
    position: absolute;
    bottom: 20px;
    color: #C2170C;
}

.menu a:hover {
    background-color: #ddd;
}

.menu a[href="dashboard.php"]:hover {
    background-color: #1C67F9;
}

.menu img, .new img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.main {
    margin-left: 240px;
}

.topbar {
    margin-top: 20pt;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar {
    display: flex; 
    align-items: center; 
    width: 40%;
    background-color: #E8E8E8;
    border: 0.5px solid rgba(68, 68, 68, 0.2);
    border-radius: 30px;
    padding: 8px;
    margin-left: 20px;
}

.search-bar input[type="text"] {
    flex: 1; 
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

.search-bar img {
    width: 20px;
    margin: 0 20px 0 10px;
    cursor: pointer;
}

.settings {
    background-color: #E8E8E8;
    border: 0.5px solid rgba(68, 68, 68, 0.2);
    border-radius: 50px;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: auto;
    margin-right: 20px;
}

.settings img {
    width: 20px;
    cursor: pointer;
}

.profile {
    cursor: pointer;
    background-color: #E8E8E8; 
    padding: 5px; 
    border: 0.5px solid rgba(68, 68, 68, 0.2); 
    border-radius: 30px; 
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile img {
    width: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

.profile span {
    margin-right: 10px;
}

.profile span a {
    text-decoration: none;
}

.welcome h1,
.welcome h2 {
    margin: 0;
}

.welcome h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 5px 20px;
}

.welcome h2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    color: #A4A4A4;
}

.stats-section {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.stats {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}

.rectangle1, .rectangle2, .rectangle3 {
    position: relative;
    flex: 1;
    height: 120px;
    background-color: white;
    border: 0.5px solid rgba(68, 68, 68, 0.2);
    border-radius: 20px;
    margin: 20px 0 20px 20px;
    padding: 20px;
}

.rectangle3 {
    margin-right: 20px;
}

.rectangle1 h3, .rectangle2 h3, .rectangle3 h3, 
.rectangle1 h4, .rectangle2 h4, .rectangle3 h4, 
.rectangle1 h5, .rectangle2 h5, .rectangle3 h5 {
    margin: 0;
    text-align: left;
}

.rectangle1 h3, .rectangle2 h3, .rectangle3 h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.rectangle1 h4, .rectangle2 h4, .rectangle3 h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.rectangle1 h5, .rectangle2 h5, .rectangle3 h5 {
    font-size: 16px;
    font-weight: 500;
}

.circle1, .circle2, .circle3 {
    position: absolute; 
    top: 0px; 
    right: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto 10px;
    margin-right: 20px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;   
}

.circle1{
    background-image: url('../image/income_icon1.png');
    background-color: #12C699
}

.circle2{
    background-image: url('../image/expense_icon1.png');
    background-color: #FEB803;
}

.circle3 {
    background-image: url('../image/assets_icon1.png');
    background-color: #3A78F1;
}

.container {
    display: flex;
}

.overview {
    flex: 2; 
    display: flex;
    flex-direction: column;
}

.upcoming {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.overview h1, .upcoming h1 {
    margin-left: 20px; 
    font-weight: 600;
    font-size: 30px;
}

.overview-content, .upcoming-content {
    min-height: 50px;
    background-color: white;
    border: 0.5px solid rgba(68, 68, 68, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    flex-grow: 1; 
}

.upcoming-content {
    margin-right: 20px;
}

.overview-content h2 {
    font-size: 18px;
    font-weight: 500;
}

.overview-content {
    display: flex;
    flex-direction: column;
}

.overview-content h2:first-of-type {
    margin-top: 0;
}

.overview-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.overview-content div p {
    width: 25%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
}

.overview-content div p:nth-child(1) {
    margin-left: 10px;
}

.overview-content div p:nth-child(2) {
    text-align: center;
    color: #A4A4A4;
}

.overview-content div p:nth-child(3) {
    text-align: center;
}

.overview-content div p:nth-child(4) {
    text-align: right;
    margin-right: 10px;
}

.income-amount {
    color: #1EB34B; 
}

.expense-amount {
    color: #C2170C;
}

.overview-content .overview-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.upcoming-content h2 {
    font-size: 18px;
    font-weight: 500;
}

.upcoming-content h2:first-of-type {
    margin-top: 0;
}

.upcoming-content div {
    display: flex;
    margin-bottom: 10px;
}

.upcoming-content div p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.upcoming-content div p:nth-child(2) {
    font-size: 14px;
    color: #A4A4A4;
    margin-top: 2px;
}

.upcoming-content .upcoming-item {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.upcoming-content .upcoming-item .left {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    flex-direction: column;
}

.upcoming-content .upcoming-item .right {
    text-align: right;
    margin-right: 10px;
    align-items: center;
}